#RStudio files
.Rproj.user/

#History files
.Rhistory
.Rapp.history

#Session Data files
.RData
.Ruserdata
.Rdata

#OAuth2 token 
.httr-oauth
.Rproj.user

#folders ...
*.csv
*.xls
*.xlsx
*.txt
Excel_to_csv.R
#data_descr_and_dic_making_JR.R
#data_descr
#data_dic

#figures & output (excludes all figure files)
*.png
*.pdf
*.jpeg

#others
.DS_Store
.quarto